.flex {
    display: flex;
}

.no-bullet {
    list-style-type: none;
}

.justify-around {
    justify-content: space-around;
}

.header-elements {
    width: 90%;
    max-width: 950px;
}

@media (min-width: 576px) {
    header {
        background-color: none;
        backdrop-filter: saturate(180%) blur(5px);
    }
}

@media (max-width: 576px) {
    header {
        background-color: #0d1117;
        margin-left: -1rem;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}


header {
    width: 100%;
    position: fixed;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    z-index: 1;
    margin: auto;
}

header ul li {
    font-size: 1rem;
}

header ul {
    transition: transform 0.3s ease-in-out;
}

header .ul0 {
    width: 50%;
    align-items: center;
}

header .ul1 {
    position: fixed;
    background-color: #0d1117;
    height: calc(100% - 4.4rem);
    margin-left: -1rem;
    padding: 1rem 2rem;
    transition: transform 0.3s ease-in-out;
}

header a {
    color: #1f6feb;
}

header .ul1 li {
    margin: 0;
    padding: 2rem 0rem;
}

header img {
    width: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

header span {
    font-size: 2rem;
    font-weight: bold;
    color: #1f6feb;
}

article h1 {
    font-size: 1.5rem;
}

h2 {
    font-weight: normal;
    padding: 2rem 0rem 0rem 0rem;
    font-size: 1.2rem;
}

.read-more button {
    margin: 1rem 0rem 0rem 0rem;
    background-color: transparent;
    color: #1f6feb;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #1f6feb;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.read-more button:hover {
    background-color: #1f6feb;
    color: #0d1117;
}

.read-more button:active {
    background-color: #0d56c4;
    color: #1f1414;
}

p {
    font-weight: 100;
    font-size: .9rem;
}

.hide-icon {
    transform: rotate(180deg);
    transform: translateX(-10000%);
}

.hide-ul {
    position: absolute;
    transform: translateY(-10000%);
}

.hide-ul1 {
    position: absolute;
    transform: translateX(-10000%);
}

.hide-span {
    position: absolute;
    transform: translateX(-10000%);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span {
    transition: transform 0.3s ease-in-out;
}

.justify-space-between {
    justify-content: space-between;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #30363d;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: initial;
    border-color: grey;

}

.markdown-body h5 {
    font-size: .875em;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

article {
    box-sizing: border-box;
    width: 100%;
}

.markdown-body table {
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.f5 {
    font-size: 14px;
}

#home {
    margin-bottom: 3rem;
}

.odd-tr {
    background-color: #161b22;
}

.visit-count {
    margin-top: 1rem;
}

.bio {
    border: none !important;
}

@media (max-width: 576px) {
    .main {
        padding: 4.4rem 0rem;
    }
}

@media (min-width: 576px) {
    .main {
        padding: 7rem 0rem;
    }
}

.bio-svg {
    width: 100%;
    max-width: 440px;
}

.anchor-of-bio-svg {
    width: 100%;
}